@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;700&display=swap');

.highlights-section {
  background-color: #E0F2F9; 
  padding: 60px 30px;
  color: #003366; 
  font-family: 'Bricolage Grotesque', sans-serif;
  text-align: center;
}

.topic {
  font-size: 1.6em;
  margin-bottom: 15px;
  color: #001B48; 
}

.highlights-heading {
  font-size: 2.2em;
  margin-bottom: 40px;
  color: #003366; 
}

.highlights-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.highlight-item {
  background-color: #B3DFFC; 
  padding: 25px;
  border-radius: 15px;
  text-align: left;
  max-width: 300px;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.icon-container {
  font-size: 2em;
  color: #00509E; 
  margin-bottom: 15px;
}

.highlight-item h4 {
  font-size: 1.4em;
  margin-bottom: 10px;
  text-align: center;
  color: #003366; 
}

.highlight-item p {
  font-size: 1em;
  text-align: center;
  margin: 0;
  color: #004080; 
}
