@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;700&display=swap');

.hero-section {
  text-align: center;
  margin-top: 80px; 
  margin-bottom: 60px;
}

.main-heading {
  font-family: 'Bricolage Grotesque', sans-serif;
  color: #ffffff; /* Changed to white */
  font-size: 2.8em; 
}

.sub-heading {
  font-family: 'Bricolage Grotesque', sans-serif;
  color: #dcdcdc; /* Slightly lighter white for a softer look */
  font-size: 1.2em; 
  margin-top: 12px; 
}

.button-group {
  margin-top: 25px; 
}

.primary-button, .secondary-button {
  background-color: #00509E; 
  color: white;
  border: none;
  border-radius: 20px;
  padding: 12px 25px;
  font-size: 1.1em;
  margin: 0 12px; 
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.primary-button:hover {
  background-color: #003366; 
  transform: scale(1.1);
}

.secondary-button:hover {
  background-color: #B3DFFC;
  color: #003366; 
  transform: scale(1.1);
}
